.bold {
    font-weight: bold;
}

.container{
    width: 300px;
    background-color: #f2f2f2;
    border: 1px solid #406fb7;
}

.top-container {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.close{
    margin-right: 5px;
}

.close a {
    cursor: pointer;
}

.top-container img {
    background-color: #f2f2f2;
}

.top-container p {
    margin-left: 10px;
}

.flex {
    display: flex;
    flex-direction: row;
}

.top-buttons {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.top-buttons:hover{
    cursor: pointer;
}

.calculator-screen {
    height: 60px;
    font-size: 40px;
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
}

.second-top-buttons {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
}

.second-top-buttons a {
    display: flex;
    width: 74.5px;
    height: 56px;
    align-items: center;
    justify-content: center;
}

.top-links{
    width: 25%;
}

.top-links:hover{
    background-color: #cfcfcf;
    cursor: pointer;
}

.bottom-link {
    width: 25%;
}

.bottom-button {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #e6e6e6;
}

.link-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
}

.link-row a:hover{
    background-color: #cfcfcf;
    cursor: pointer;
}

.link-row a {
    display: flex;
    justify-content: center;
    width: 74.5px;
    height: 56px;
    align-items: center;
}

.html-code{
    font-size: 1.5em;
}

.opacity{
    opacity: 0.3;
}

.bottom-link{
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu{
    font-size: 48px;
}